*.profile
*.lock
*.conflict
*.DS_Store
*.zip
/redis-tickets_deploy

.project
.settings
.idea

/node_modules
/static
/libs
/modules
/config.json
/deploy.json
/config*.json
/secrets.json
/*.js
*.sublime*