extends frame

block append head
	link( href="/css/styles.css", rel="stylesheet" )
	script( src="/js/vendor/jquery.mmenu.js" )
	script( src="/js/vendor/require.js", data-main="/js/main" )
	:coffeescript

		$ ->
			$('#menu').mmenu(
				zposition: "next"
			)
			return
	script.
		window.Init = !{JSON.stringify(locals.user)}


block frameContent
	nav#menu

		h4.lead Support Tickets
		//- a.user-short.label.label-primary(
		//- 	title="LOGOUT - " + user.name
		//- 	href="/exit"
		//- 	data-toggle="tooltip"
		//- 	data-placement="left"
		//- 	data-bypass="true"
		//- )= user.short

		#menuitems		
				

	#page( data-userid=id )
		#container
			block Content
		a#open-icon-header( href="#menu" )
			i( class=[ "icon", "icon-white", "icon-ellipsis-vertical" ] )