extends contentlayout

block name 
	| Ticket 
	if _isNew
		| erstellen
	else
		| bearbeiten

block content
	form( role="form" )
		
		.form-group
			label( for="ticket-title" ) Titel
			input#ticket-title.form-control( name="title", placeholder="Ticket Titel eingeben", value=title )
		
		.form-group
			label( for="ticket-desc" ) Beschreibung
			textarea#ticket-desc.form-control( name="desc", placeholder="Ticket Beschreibung ..." )= desc
			p.help-block Es kann die Markdown Syntax verwendet werden
		
		section.footer
			if _isNew
				a.btn.btn-link( href="/tickets" ) Abbrechen
			else
				a.btn.btn-link( href="/tickets/" + id ) Abbrechen
				
			button.btn.btn-primary.pull-right.savebtn( data-loading-text="Loading..." ) Speichern