bgcolor = #eee
linecolor = #ddd


activecolor = #333
donecolor = #428bca

statecolor-new = #428bca
statecolor-pending = #33CCFF
statecolor-accepted = #008060
statecolor-working = #208000
statecolor-needanswer = #FABB00
statecolor-replied = #600080
statecolor-closed = #802000