#menu
	background #333

	.lead
	#open-icon-menu
		background #222

	li
		border-bottom 1px solid rgba( white, .05 )

	a
		display block
		padding 0 0 0 17px
		text-overflow auto

	a:hover
		background-color rgba( black, .2 )


	a
	.icon
		font-weight 100
		color #eee
		font-size 20px
		text-decoration none
	.icon
		margin 0 25px 0 3px
		width 20px
		display inline-block
	
	.lead
		display block
		color #eee
		font-size 29px
		font-weight 100
		padding 10px 0 10px 20px
		margin 0
		border-bottom 1px solid rgba( white, .05 )
		text-overflow auto

#navigation
	display block
	list-style none
	padding 0


@media( min-width: 500px )
	#menu .lead
		display none

@media( max-width: 499px )
	#menu .lead
		display block


@media( min-width: 900px )
	#menu .lead
		display block