.addticket
	position absolute
	top 0
	right 0
	display block

#ticketlist
	padding 0
	list-style none
	border-top 1px solid linecolor
	position relative

	.ticket
		position relative
		border-bottom 1px solid linecolor
		padding 5px
		
		.tickettitle
			font-size 15px
			display block

		.user
			position absolute
			top 5px
			right 5px

		.infos
			color 

.ticketDetail
	#comments
		list-style none
		padding 0
		.comment
			padding 10px 15px
			position relative
			border-bottom 1px solid linecolor
		.comment:last-child
			border-bottom 1px solid transparent